table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 700px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

img#img1 {
    width: 60px;
    height: 60px;
}
div.container
{
    width:1000px;
    margin:0 auto;
}
.heading
{
width:50%;
}
.content
{
    
}
