body{background-color: rgb(153, 153, 153); color: rgb(255, 128, 0);font-family:arial,sans-serif;font-size:small;line-height:1.5}
#wrapper{background-color: rgb(178, 178, 178); color: rgb(225, 225, 225);margin:0 auto;padding:0 5px;position:relative;width:970px}*
{margin:0;padding:0;outline:0}.clr{clear:both}
a{text-decoration:none;color:#dadada}
a:hover{color:#fff}
ul{list-style:none}
span.url{color:red;opacity:.7}
span.url:hover{opacity:1}
.notice{display:inline-block;background:#2b2b2b;padding:5px;line-height:1.5em}
.status{margin:5px 5px 5px 0;padding:5px 0;background-color: rgb(192, 192, 192);line-height:1.5em}.status p{color: rgb(0, 0, 0);}
.left{float:left}.right{float:right}
header{border-bottom:1px solid #2b2b2b;height:80px}
#text-logo{display:inline;float:left;margin:40px 0 0}
#site-title{color:#333;font-size:34px;font-weight:700;letter-spacing:1px;line-height:1}
#site-desc{color:#999;float:left}
#logo{float:left;margin:40px 0 0;font-size:40px;color:red;font-weight:700;letter-spacing:2px;opacity:.7;line-height:0}
#logo:hover{opacity:1}body>menu{margin:0 auto 25px;padding:0;width:960px;z-index:999}
#nav{background-color: rgb(128, 128, 128);text-transform:uppercase;border-top:none;padding:inherit}
#nav .menu{list-style:none;line-height:1;margin:0;overflow:hidden;padding:0;z-index:999}
#nav .menu a{display:block;position:relative;text-decoration:none;z-index:100}
#nav .menu li{float:left;width:auto;z-index:999}
#nav .menu li a{color:#dadada;font-size:13px;font-weight:700;margin-right:25px;padding:10px 0;line-height:18px;text-decoration:none}
#nav .menu li:hover a,.menu li:hover a:active{text-decoration:none;color:red}
#breadcrumbs{text-transform:none}
.breadcrumbs{color: rgb(0, 111, 55);font-size:13px;font-weight:700;height:35px;line-height:50px;position:relative;text-transform:uppercase;border-bottom:1px solid #2b2b2b}
.breadcrumbs span a{color: rgb(0, 111, 55)}
.breadcrumbs span a:hover{color:#fff;text-decoration:none}
.search{float:right;margin:-5px 0}
.search .searchTxt{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #999;padding:3px 0}
.search .searchBtn{background:#2b2b2b;opacity:.7;color:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;outline:0;border:none;padding:4px;cursor:pointer}
.search .searchBtn:hover{opacity:1}
.box{display:block}.box ul{margin-top:5px}
.box ul li.video-list{position:relative;float:left;margin-bottom:10px}
.box ul li.video-list img.video-image{width:240px;height:180px;border-radius:2px;padding-right:2.5px;display:block}
.video-name{display:block;font-size:12px}
.box ul li.video-list .video-name{text-align:center;height:40px;width:238px;font-size:12px;font-weight:700;overflow:hidden;margin-top:3px}
.box ul li.video-list .video-name p{margin-top:3px;font-size:12px;height:15px;overflow:hidden;margin-bottom:3px}
.box ul li.video-list .video-name a{color: rgb(0, 0, 0)}
.box ul li.video-list .video-name a:hover{color: yellow}
.box ul li.video-list .video-rank{top:10px;height:26px;left:-5px;position:absolute;display:inline-block;height:29px}
.box ul li.video-list .video-rank span{background:none repeat scroll 0 0 red;opacity:.8;color: rgb(0, 0, 0);display:inline-block;height:25px;line-height:25px;margin-top:4px;padding:0 5px;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0}
.google-social{margin:0}.desktop{position:relative;padding:5px 0}
.video-player{position:relative;margin-right:5px;overflow:hidden}
.play-left{float:left;width:655px;border-right:1px solid #2b2b2b}
.play-right{position:relative;width:300px;float:right}
.video-right{display:block}.video-right li{display:inline-flex;overflow:hidden;padding-bottom:5px}
.video-right li a{color: rgb(0, 0, 0)}.video-right li a:hover{color:#fff}
.video-right li img{float:left;margin-right:5px;width:120px;height:90px}
.video-right li img:hover{}.video-content{margin:0}.content{color: rgb(0, 0, 0);margin-bottom:5px}.lbox{font-size:13px}
.lcol{float:left;width:235px}.rcol{width:100%;font-weight:400}.toolbar{font-weight:400;cursor:pointer}
.toolbar ul{margin-top:0}.toolbar 
.video-server{margin-bottom:5px;padding:4px 10px;display:inline-block;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.toolbar .video-server:hover{color: rgb(0, 0, 0)}
.toolbar .likes{background-color: rgb(128, 128, 128);padding:4px;display:inline-flex;margin-right:3px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.toolbar .likes{margin-right:5px}.toolbar .likes:hover{background-color: rgb(128, 128, 128);color: rgb(0, 0, 0)}
.top-likes{float:right;margin:5px 0;background:#f2f2f2;opacity:.7;padding:4px}
.note{background-color: rgb(192, 192, 192);padding:4px;display:inline-flex;margin-right:3px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.bt_normal{background-color: rgb(128, 128, 128)}
.bt_active{background:#8b0000}
#download{text-align:center;margin:0}
.download-button{float:left}
.download{background:#2b2b2b;padding:4px 10px;display:inline-block;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.download:hover{background:#8b0000;color:#fff}
.quality{background:#2b2b2b;border:1px solid #dadada;padding:2px 5px;font-size:15px;cursor:pointer;margin:10px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px}
.quality:hover{background:#8b0000;border:1px solid #fff}
.tags{list-style-type:none;margin:0}
.tag{background:#f1f1f1 url(../img/tag.gif) no-repeat left top;padding:0 10px 0 20px;height:20px;color:#939393;float:left;font:400 11px/20px arial;margin:0 5px 0 0}
.tags a{display:inline-block;height:20px;font:400 11px/20px arial;padding:0 5px;white-space:nowrap;background-color: rgb(192, 192, 192); color: rgb(0, 0, 0)}
.tags a:hover{background-color:#8b0000;color:#fff}
.pagenavi{text-align:center}
.pagenavi a{margin-top:10px;border:1px solid #dadada;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;padding:5px 15px;margin-right:5px;display:inline-block;margin-bottom:10px}
.pagenavi a.active{color: rgb(0, 0, 0);background-color: rgb(225, 225, 225)}
.pagenavi a:hover{background:#666;color: rgb(0, 0, 0)}footer{height:100px;font-size:13px;font-weight:400;border-top:1px solid #2b2b2b}
.footer-wrap{color: rgb(0, 0, 0);margin-top:5px}.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-rewind{display:none!important}
.intrinsic-container{position:relative;height:0;overflow:hidden}
.intrinsic-container-16x9{padding-bottom:56.25%}
.intrinsic-container iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-rewind{display:none!important}
.jw-toggle.jw-off{color:#d8d8d8}
.jw-controlbar.jw-background-color.jw-reset{background:linear-gradient(180deg,transparent,rgba(0,0,0,.25) 30%,rgba(0,0,0,.4) 70%,rgba(0,0,0,.5))}